.header
    background-color: $YELLOW

.header__container
    gap: 24px
    padding-top: 40px
    padding-bottom: 40px

.header__title
    @include ubuntu-bold
    font-size: 24px
    color: $RED
    letter-spacing: 3.84px
    text-align: center
    max-width: 174px

.header__nav
    @include ubuntu-bold
    font-size: 18px
    max-width: 175px

    .nav__items
        display: flex
        flex-wrap: wrap
        gap: 24px

        .item
            line-height: 30px

            a
                color: $RED

            a:hover
                color: $ORANGE
                outline: solid

            a:focus-visible
                color: $ORANGE
                outline: solid

.header__hero-name
    font-size: 24px
    @include ubuntu-bold
    max-width: 160px
    letter-spacing: 3.84px
    text-align: center

.header__hero-city
    display: flex
    gap: 8px
    align-items: center
    font-size: 18px

.hero-city__text
    padding: 8px

.header__image-photo
    background: url("../image/i.png") no-repeat center / contain
    height: 204px
    width: 204px

.header__wrap-info
    display: flex
    gap: 24px
    flex-direction: column

.header__info
    display: flex
    gap: 8px
    flex-direction: column

.info__title
    color: $RED
    @include ubuntu-bold
    text-align: center

.info__text
    text-align: center
    max-width: 280px

.header__arrows-down
    color: $RED

.header__arrows-down:hover
    color: $ORANGE

.header__link a
    display: block

.header__link a:focus
    outline: solid
    color: $ORANGE
