.skills
    background-color: $GREEN

.skills__container
    gap: 40px

.skills__block
    display: flex
    flex-wrap: wrap
    flex-direction: column
    gap: 16px
    width: 210px

.skills__title
    background-color: $BROWN_BLACK
    color: $YELLOW
    border-radius: 10px
    padding: 8px
    width: max-content

.skills__items
    display: flex
    flex-wrap: wrap
    gap: 16px

.skills__skill
    background-color: $YELLOW
    border-radius: 10px
    padding: 8px

.skills__arrows-top
    background-color: $BROWN_BLACK
    color: $YELLOW
