html
    box-sizing: border-box
    position: relative
    scroll-behavior: smooth

*
    box-sizing: inherit

body
    min-width: 320px
    min-height: 100vh
    @include ubuntu-regular
    font-size: 14px
    background-color: $YELLOW
    color: $BROWN_BLACK

img,
svg
    max-width: 100%
    max-height: 100%
    height: auto

a
    cursor: pointer
    text-decoration: 0

ul
    padding: 0
    margin: 0
    list-style: none

h1,
h2,
h3,
p
    margin: 0

h2
    font-size: 18px

h3
    font-size: 14px

.container
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center

.icon
    width: 24px
    height: 24px

.arrows
    border-radius: 10px
    width: 40px
    height: 40px

.arrows:hover
    background-color: transparent
    outline: solid

.arrows:focus-visible
    outline: solid
    color: $ORANGE
    background-color: transparent

.link__nav
    display: contents

.header__link
    display: none

h1::selection, h2::selection, h3::selection, div::selection, li::selection, p::selection, span::selection, a::selection, img::selection
    background-color: $ORANGE
    color: $BROWN_BLACK

h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, div::-moz-selection, li::-moz-selection, p::-moz-selection, span::-moz-selection, a::-moz-selection, img::-moz-selection
    background-color: $ORANGE
    color: $BROWN_BLACK

@include xs-breakpoint
